:root {
    --primary-color: #978897;
    --secondary-dark-color: #494850;
    --secondary-light-color: #B18FCF;
    --tertiary-dark-color: #2C2C34;
    --tertiary-light-color: #D8D8F6;
    --white-color: #FFFFFF;
}

@font-face {
    font-family: "Inter_Thin";
    src: url(./src/assets/fonts/Inter_18pt-Thin.ttf);
}

@font-face {
    font-family: "Inter_Light";
    src: url(./src/assets/fonts/Inter_18pt-Light.ttf);
}

@font-face {
    font-family: "Inter";
    src: url(./src/assets/fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter_Medium";
    src: url(./src/assets/fonts/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: "Inter_Semi_Bold";
    src: url(./src/assets/fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter_Bold";
    src: url(./src/assets/fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Inter_Extra_Bold";
    src: url(./src/assets/fonts/Inter_18pt-ExtraBold.ttf);
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    color: var(--tertiary-dark-color);
}