.register {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var( --tertiary-light-color);
}

.register__left {
    flex: 1;
}

.register__left--img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}

.register__right {
    flex: 1;
    border-left: 2px solid var(--secondary-dark-color);
}

.register__right h2:first-of-type {
    margin-top: 70px;
}

.register__right h2 {
    margin: 0;
    text-align: center;
    font-family: "Inter_Medium";
    font-size: 32px;
    color: var(--secondary-dark-color);
    -webkit-text-stroke: 1px var(--secondary-dark-color);
}

.header__read {
    text-indent: 40px;
}

.header__inspire {
    text-indent: 120px;
}

input {
    width: 60%;
}

p {
    text-align: center;
    font-family: "Inter_Thin";
    font-size: 15px;
    color: var(--tertiary-dark-color);
}

a {
    font-family: "Inter_Regular";
    color: var(--secondary-light-color);
    text-decoration: none;
}