.settings {
    display: flex;
    flex-direction: column;
}

.settings__nav {
    display: flex;
    justify-content: left;
    list-style-type: none;
    width: 80%;
    margin: auto;
    padding: 0;
}

.settings__nav li {
    padding: 10px;
    font-size: 20px;
    color: var(--tertiary-dark-color);
    font-family: "Inter_Light";
    opacity: 0.5;
    cursor: pointer;
}

.settings__nav li.settings__nav--active {
    font-family: "Inter_Semi_Bold";
    opacity: 1;
}

.settings__content {
    background-color: var(--tertiary-light-color);
    border-radius: 5px;
    width: 80%;
    height: 70vh;
    margin: auto;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__content--group {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.settings__content--group--button {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 5rem;
}

.settings__content__table {
    width: 100%;
    border-collapse: collapse;
}

.settings__content__table th {
    width: 50%;
    background-color: var(--secondary-dark-color);
    font-family: "Inter_Semi_Bold";
    color: var(--white-color);
    height: 50px;
    border-top: 5px solid grey;
    cursor: pointer;
}

.settings__content__table th.settings__content__table__header--active {
    border-top: 5px solid var(--secondary-light-color);
}

.settings__content__table td {
    font-family: "Inter_Bold";
    color: var(--secondary-dark-color);
    text-align: center;
    padding: 3px;
    border-bottom: 2px solid var(--primary-color);
}

.settings__content__table__data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}